name: Daily Claim

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 必须用 Node 20，才能解决 ReadableStream 和 File 报错
      - uses: actions/setup-node@v3
        with:
          node-version: 20

      # 标准安装，不乱删东西
      - name: Install
        run: npm install

      # 使用官方启动命令 (之前报错是因为手动运行了 node claimer.js)
      - name: Run
        env:
          EPIC_GAMES_DATA: ${{ secrets.EPIC_GAMES_DATA }}
        run: npm start
